<div>
  <%= form_for @newblog, url: blogs_index_path do |b| %>
    <%= b.text_field :body, :size=>"80", :placeholder=>"投稿しよう" %>
    <%= b.submit "投稿する" %>
  <% end %>
</div>
<hr class="noshade">

<div class="pad-left">
  <% @blog.each do |b| %>
      <contribution>
        <%= b.id %>:
        <u>
          <%= link_to b.body, blog_path(b) %>
        </u>
      </contribution><br>
      <u>
        <%= link_to "いいね", blogs_likeup_path(b, params: {blog: {id: b.id}}),
        :method => :post %>
      </u>
        : <%= b.like %> | コメント数:<%= @reply.where(blog_id: b.id).count %> | 
      <t_color class="gray">
        投稿日時: 
        <time>
          <%= b.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %T") %>
        </time>
      </t_color><hr>
  <% end %>
</div>
