<u>
    <%= link_to "戻る", root_path %>
</u>

<hr>

<div class="pad-left">
    <%= @blog.id %>: 
    <t_color class="gray">
        投稿日時:<%= @blog.created_at.in_time_zone('Tokyo')
        .strftime("%Y/%m/%d %T") %> 
    </t_color>
    | 
    <u>
        <%= link_to "いいね", blogs_show_likeup_path(@blog, 
            params: { blog: {id: @blog.id} }),
            :method => :post %>
    </u>
    :<%= @blog.like %>
    
</div>

<contribution>
    <div class="pad-left">
        <%= @blog.body %>
    </div>
</contribution>

<br>

<div>
  <%= form_for(@newreply) do |r| %>
    <%= r.hidden_field :blog_id %>
    <%= r.text_field :comment, :size=>"80", :placeholder=>"コメントしよう" %>
    <%= r.submit "コメントする" %>
  <% end %>
</div>

<hr class="noshade">

<div class="pad-left">
    <% @reply.reverse.each do |r| %>
        <reply>
            <%= r.comment %>
        </reply>
          | 
        <t_color class="gray">
            投稿日時: <%= r.created_at.in_time_zone('Tokyo').
            strftime("%Y/%m/%d %T") %>
        </t_color><hr>
    <% end %>
</div>