@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 10px;
  padding-left: 20px;
}

h1 {
  // テキストの大きさ
  font-size: 3em;
  // テキストの太さ
  font-weight: bold;
}

hr.noshade {
  // 影なし
  border: 1px solid rgb(128, 128, 128);
}

// 左空白
div.pad-left {
    padding-left: 20px;
}

// 投稿用
contribution {
  // テキストの大きさ
  font-size: 1.2em;
  // テキストの太さ
  font-weight: bolder;
}

// コメント用
reply {
  // テキストの大きさ
  font-size: 1.2em;
  // テキストの太さ
  font-weight: bolder;
}

// テキストの色
t_color.gray {
  color: darkgray
}