<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <h1>MiniMini blog</h1>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 
      media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
      'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
